<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myEnergyProviderLabel"
            data-translate="synergreenApp.energyProvider.home.createOrEditLabel">Create or edit a Energy Provider</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" data-translate="synergreenApp.energyProvider.name"
                   for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.energyProvider.name"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="synergreenApp.energyProvider.purchaseRate"
                   for="field_purchaseRate">Purchase Rate</label>
            <input type="number" class="form-control" name="purchaseRate" id="field_purchaseRate"
                   ng-model="vm.energyProvider.purchaseRate"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="synergreenApp.energyProvider.purchaseAutoConsoRate"
                   for="field_purchaseAutoConsoRate">Purchase Auto Conso Rate</label>
            <input type="number" class="form-control" name="purchaseAutoConsoRate" id="field_purchaseAutoConsoRate"
                   ng-model="vm.energyProvider.purchaseAutoConsoRate"
            />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
