<div ng-cloak>
    <div class="panel">
    <h2 data-translate="synergreenApp.fluxGroup.home.title">Flux Groups</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left">
                <button ng-click="vm.historyBack()"
                        class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
                    data-translate="entity.action.back"> Back</span>
                </button>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="flux-group.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" data-translate="synergreenApp.fluxGroup.home.createLabel">
                        Create new Group
                    </span>
                </button>
            </div>
            <div class="col-xs-5 no-padding-right col-sm-offset-3 ">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{ 'synergreenApp.fluxGroup.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="synergreenApp.fluxGroup.name">Name</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fluxGroup in vm.fluxGroups track by fluxGroup.id">
                <td><a ui-sref="flux-group-detail({id:fluxGroup.id})">{{fluxGroup.name}}</a></td>
                <td class="text-left">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="flux-group-detail({id:fluxGroup.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="flux-group.edit({id:fluxGroup.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="flux-group.delete({id:fluxGroup.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
